div {
    border-radius: 5px;
}

#header {
    height: 40px;
    width: 98%;
    background-color: #668284;
    margin-bottom: 10px;
}

#name {
    float: left;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #ffffff;
}

#email {
    float: right;
    margin-right: 20px;
    padding-bottom: 10px;
    font-size: 16x;
    font-family: sans-serif;
    color: #ffffff;
}

#contact {
    float: left;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #ffffff;
}

a: {
    font-weight: bold;
}

.right {
    float: left;
    margin-top: 50px;
    padding-left: 5px;
    height: auto;
    width: 99%;
    background-color: #E3EDD8;

}

h3 {
    text-decoration: underline;


}
#responsibilities{
    padding: 1px;
}
td{
    padding: 2px;
    border: 1px solid #E88741;
}
#course-name{
    font-weight: bold;
}
#company-name{
    height: 2px;
    text-decoration: underline;
}
#heading{
    font-weight: bold;
}